
 
 
 .header_wrapper{
    display: flex;
  
    justify-content: center;
    
  }
  
  .header_list{
     display: flex;
     flex-wrap: wrap;
  }
  .header_item{
    margin-right: 72px;
width: 68px;
height: 27px;  }

li {
    display: inline-block;
}
.header_link{
    font-size: 18px;
    color: #FF0000;
   }
   .photo{
    width: 100%;
   }
   .content{
    max-width: calc(100% - 135px);
    width: 100%;
    margin: auto;
}
.sub-title{
    margin-top: 48px;
    margin-bottom: 38px;
    text-align: center;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
text-transform: uppercase;

color: #373737;
}
.discription{
   margin-bottom: 28px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   text-align: center;
   color:#373737;;
  }
  .con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
    margin-bottom: 42px;
  
   
  }
  .button{
    display: inline-block;
    color: #FFFFFF; 
background-color: #FF0000;
border-radius: 4px;
width: 191px;
height: 51px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
text-transform: uppercase;}
.end{
    margin-top: 82px;
   
}
.footer{
   margin-left: 1400px;
   margin-right: 105px;
   margin-bottom: 29px;
   font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 2.4px;

color: #373737;


}